aiohttp
aiosignal
appnope
asttokens
async-timeout
attrs
backcall
blinker
certifi
charset-normalizer
click
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
contourpy
cycler
decorator
executing
filelock
Flask
fonttools
frozenlist
ftfy
idna
importlib-metadata
importlib-resources
ipython
itsdangerous
jedi
Jinja2
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
multidict
networkx
numpy
objaverse
openai
opencv-python
packaging
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytz
regex
requests
six
stack-data
sympy
torch
torchvision
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
yarl
zipp
