<!DOCTYPE html>
<html>
    <head>
        <title>検索</title>
    </head>
    <body>
        <h1>VRModFinder検索エンジン</h1>
        <h2>検索には時間がかかります。</h2>

        <div class_="output">
            <h2>Output</h2>
            <p>インテリアの種類</p>
            <p>{{ interior }}</p>
            <p>インテリアの特徴</p>
            <p>{{ features }}</p>
            <p>インテリアの個数</p>
            <p> {{ number }}</p>
        </div>

        <p>検索を開始するには以下のボタンを押してください。</p>
        <form action="" method="post">
            <input type="submit" name="search" value="Search">
        </form>

        {% if selected_name %}
            <p>検索結果</p>
            <p>選択されたインテリアの名前</p>
            <p>{{ selected_name }}</p>
            <p>選択されたインテリアのuid</p>
            <p>{{ selected_uid }}</p>
            <p>ダウンロードされました。</p>
        {% endif %}
    </body>
</html>